

body {
    padding: 0px;
    margin: 0px;
    font-family: Georgia, “Times New Roman”, Times, serif;
    font-size: 18px;
    line-height: 125%;
    background-color: transparent;


  }  
  
  /*Header*/
header {
    background-color: rgb(157, 228, 99);
    border-bottom: 1px solid rgb(173, 170, 170);
    animation-name: colorbox;
    animation-duration: 4s;
}

@keyframes colorbox {
    from {background-color: rgb(240, 236, 47);}
    to {background-color: rgb(157, 228, 99);}
}

header a {
    text-decoration: none;
}


h2{
    color: red;
    font-size: 25px;
    background:white;
    opacity: 0.75;
}

/* Universal Styles */
.container {
    margin: 0 auto;
    background-color: #ffffff;
    /* color: blanchedalmond; */
    opacity: 1;
    font-size: 25px;
}
.blue-background {
    border: none;
    background-color: #4aaaa5;
    min-height: 280px;
}

.content-wrapper {
    margin: 10px;
}
.clearfix::after{
    content:"";
    clear: both;
    display: table;
}

.round {
    border-radius: 100%;
}

.rounded {
    border-radius: 2%;
}

section .container {
    padding-top: 2%;
}

/* .url_wrapper:first-child {
    background-color: yellow;
  } */

.url_wrapper {
    /* background-color: yellow;
    background: lightblue; */
    background:white;
    opacity: 0.75;
    font-family: Georgia, “Times New Roman”, Times, serif;
    font-size: 20px;
  }


#dataL{
    background:white;
    opacity: 0.75;
    font-family: Georgia, “Times New Roman”, Times, serif;
    font-size: 20px;
}



/* Wrapper for content*/
.content {
    width: 660px;
    background-color: #ffffff;
    margin-bottom: 50px;
    float: left;
}


p {
    padding: 0%;
    margin: 0%;
    font-family: Georgia, “Times New Roman”, Times, serif;
    font-size: 20px;
    background:white;
    opacity: 0.75;
    color: rgb(129, 22, 67);
  }

#weatherP {
    margin: 0 auto;
    /* background-color: #c79886; */
    color: whitesmoke;
    font-size: 25px;
    }
.
/* Footer */
footer {
    background-color: #666666;
    padding-bottom: 25px;
    padding-top: 25px;
    border-top: 5px solid rgb(34, 142, 150);
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.container{
    background: transparent;
}

.jumbotron{
    background: transparent;
}

/*Main Background*/
/* put in background-size: contain */
/* background-size: 100vw */
body {
    background-image: url("World_Passports.jpg");
}

@media only screen and (max-width: 700px) {
    .center {
        width: 100%;
    }
  }


  .loader {
    position: absolute;
    top:0;
    z-index: 999;
    background: rgba(255, 255, 255, .90);
    width: 100vw;
    text-align: center;
    height: 100vh;
}
.loader img {
    width: 300px;
    margin-top: 15%;
}

